html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

:root {
  --light-purple: #88f;
  --dark-purple: #39397e;
  --pink-color: #fee;
  --black-color: rgba(0, 0, 0, 0.85);
  --white-color: rgba(255, 255, 255, 0.9);
  --accent: #87fcfc;
  --disabled: rgba(255, 255, 255, 0.3);

  --header-height: 200px;
  --footer-height: 100px;
}

html {
  font-size: 125%;
}

body {
  background-color: var(--pink-color);
  color: var(--black-color);
  overflow-x: hidden;
}

body #root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  border: none;
  border-radius: 10px;
  background-color: var(--light-purple);
  color: var(--white-color);
  font-size: 0.8rem;
  font-weight: 700;
  margin: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: transform 0.3s ease
}

.wrapper {
  height: 100%;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header styles */

header {
  background-color: var(--light-purple);
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  font-family: 'Caveat', cursive;
  font-size: 2.7rem;
  margin: 15px;
  padding: 15px;
  text-align: center;
  text-transform: capitalize;
}

nav ul {
  background-color: var(--dark-purple);
  color: var(--white-color);
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100vw;
}

nav ul button {
  background-color: transparent;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin: 0;
  text-decoration: none;
  text-transform: capitalize;
}

.disabled {
  color: var(--disabled);
  pointer-events: none;
}

.active {
  color: var(--accent);
}

/* Main styles */

main {
  margin: 40px 0;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  perspective: 1000px;
}

.progress-container {
  background-color: var(--white-color);
  border-radius: 25px;
  font-weight: 500;
  max-width: 500px;
  min-width: 270px;
  width: 90%;
  padding: 5px 30px;
  text-align: center;
}

.progress-tracker {
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 25px;
  overflow: hidden;
  
  height: 20px;
  margin: 20px auto;
  position: relative;
  min-width: 180px;
  width: 60%;
}

.progress {
  background-color: var(--light-purple);
  height: 100%;
  width: 100%;
  position: absolute;
  transform-origin: left center;
  transition: transform 1s ease-in-out;
}

.text-block {
  background-color: var(--light-purple);
  border-radius: 10px;
  color: var(--white-color);
  font-size: 1.2rem;
  padding: 2px 8px;
}

/* List styles */

.list-card {
  height: 500px;
  width: 95%;
  min-width: 300px;
  max-width: 800px;
  margin-top: 40px;

  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
}

.flipped {
  transform: rotateY(180deg);
}

.list-card-side {
  position: absolute;
  backface-visibility: hidden;
  z-index: 5;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  background-color: var(--white-color);
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.facing {
  z-index: 10;
}

h2 {
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  margin: 15px 0;
}

.list-card-side ul {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  height: 70%;
  width: 80%;
  list-style: none;
  margin: 0 10px;
  padding: 0;
  overflow: auto;
}

.list-card ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 0.6em;
}

.list-card ul li:not(:first-of-type) {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.list-card ul li::before {
  content: '📖';
  margin: 0 5px;
}

.list-card ul p {
  margin: 5px;
}

p.title {
  font-size: 1rem;
}

p.author {
  font-size: 0.8rem;
  font-style: italic;
}

.container {
  width: 100%;
}

.container button {
  padding: 5px 10px;
}

/* Form styling */

.add-book-form,
.set-goal-form {
  background-color: var(--light-purple);
  border-radius: 10px;
  height: 300px;
  width: 95%;
  min-width: 300px;
  max-width: 700px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.set-goal-form {
  margin: 50px 0;
}

.set-goal-form h2 {
  color: var(--white-color);
  text-align: center;
  width: 80%;
}

.add-book-form label {
  text-transform: capitalize;
}

.add-book-form input,
.set-goal-form input {
  border: 0;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
}

.set-goal-form input {
  width: 30%;
  max-width: 100px;
}

.add-book-form input::placeholder {
  color: var(--light-purple);
  text-transform: capitalize;
}

.add-book-form button,
.set-goal-form button {
  background-color: #fff;
  color: var(--light-purple);
  font-size: 1rem;
}

button:hover,
button:focus {
  cursor: pointer;
}

.popup-message {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 2.5px;
  position: absolute;
  text-align: center;
  top: -100px;
  transition: all 0.4s cubic-bezier(0.2, 0.2, 0.3, 1.8);
;
}

.invisible {
  letter-spacing: -2px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(40px);
}

/* Footer styles */

footer p {
  background-color: var(--dark-purple);
  color: var(--white-color);
  margin: 0;
  padding: 10px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: var(--accent);
  font-weight: 700;
}

/* Media queries */

@media (min-width: 800px) {
  
  h1 {
    font-size: 3.2rem;
  }

  button {
    font-size: 1rem;
    transition: all 0.3s ease;
  }

  button:focus,
  button:hover {
    background-color: var(--dark-purple);
    color: var(--accent);
  }

  .container button {
    font-size: 0.8rem;
  }

}